 html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: #BBB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1,h2,h3{
  font-weight: 400;
}

ul{
    list-style-type:square;
    padding-left: 20px;
}

ul li{
    margin-bottom: 5px;
}

img{
    max-width: 100%;
}

a{
    outline: 0;
}

#stage {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.content {
    overflow: hidden;
    z-index: 15;
    position: absolute;
    width: 100%;
    height:100%;
    color: #FFF;
}

.content a {
    color: #FFF;
}

.wrapper {
    display: table;
    margin: auto;
    height:100%;
    overflow: hidden;
    max-width: 960px;
    text-align: center;
}

.centered {
  position:relative;
  display:table-cell;
  vertical-align:middle;
  padding: 0 25px;
}

.topbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #333;
    z-index: 40;
    height: 40px;
}

.topbar .nav a{
    line-height: 40px;
    float: left;
    padding: 0 10px;
    color: #EEE;
    text-decoration: none;
    transition: background-color .5s;
    -webkit-transition: background-color .5s;
    -moz-transition: background-color .5s;
    -o-transition: background-color .5s;
}

.topbar .nav a:hover{
    background-color: #111;
    color: #FFF;
}

.sidebar {
    color: #666;
    position: absolute;
    z-index: 20;
    right: 0;
    top: 40px;
    bottom: 0;
    overflow: auto;
    width: 640px;
    background: #FFF;
    background: rgba(255,255,255,.96);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-shadow: 0 0 4px rgba(0,0,0,.25);
}

.sidebar.loading{
    background-image: url(../img/loader.gif);
}

.sidebar p {
    line-height: 150%;
}

.sidebar a{
    transition: color .5s;
    -webkit-transition: color .5s;
    -moz-transition: color .5s;
    -o-transition: color .5s;
    color: rgb(11,148,163);
}

.sidebar a:hover{
    color: rgb(163,26,11);
}

.sidebar-inner{
    padding: 25px 100px 25px 25px;
}

#toggle-sidebar{
    position: absolute;
    right: 25px;
    bottom: -75px;
    line-height: 32px;
    text-align: center;
    width: 0; 
    height: 0; 
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent; 
    border-right:40px outset #DDD;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#toggle-sidebar.hidden{
    
}

#toggle-sidebar.visible{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

#language{
    display: none;
    padding: 10px;
    font-size: 10pt;
    float:right;
    color: #FFF;
}

@media (max-width:640px) {
    .sidebar {
        width: 100%;
    }
    .sidebar-inner{
        padding: 50px 25px 25px 25px;
    }
}