h1{
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

a {
    color: #FFF;
}
/* to remove the top and left whitespace */
 html, body {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background: #BBB;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #FFF;
}

#stage {
    overflow: hidden;
    position: absolute;
    z-index: 1;
}
.content {
    overflow: hidden;
    z-index: 15;
    position: absolute;
    width: 100%;
    height:100%;
}
.wrapper {
    display:table;
    margin: auto;
    height:100%;
    overflow: hidden;
    max-width: 960px;
    text-align: center;
}
.centered {
  position:relative;
    display:table-cell;
    vertical-align:middle;
}