<!DOCTYPE html>
<html lang="en" class="blog">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} • Blog of Tobias Dühr</title>
  <meta name="description" content="{{ page.desc }}">
  <meta name="author" content="Tobias Dühr">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" media="screen" type="text/css">-->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <meta property="fb:admins" content="1144471847" />
  <meta property="og:url" content="http://tobiasduehr.com{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta property="og:title" content="Tobias Dühr • {{ page.title }}">
  <meta property="og:description" content="{{ page.desc }}">
  <meta property="og:image" content="http://m.b2werbeagentur.de/media/r/365/800/800/s">

</head>

<body class="{{ page.bodyclass }}">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6377320-9', 'tobiasduehr.com');
  ga('send', 'pageview');

  </script>

  <canvas id="stage" width="500" height="500"></canvas>

  <div class="container">
    <h5>
      <a href="/blog.html">Home</a>
      {% if page.date %}
        &raquo; <a href="{{ page.url }}">{{ page.title }}</a>
      {% endif %}
    </h5>
    <div class="blog-sidebar">
      <a href="/" style="display:block;text-align: center" title="this is my logo. I've got a thing for triangles.">
        <img width="80" src="/img/signet.png">
      </a>
      <h3>About me</h3>
      <p>
        <img src="https://lh5.googleusercontent.com/-WSiwOiAJZyE/AAAAAAAAAAI/AAAAAAAAAAA/NfbGtRpiBFo/s96-c/photo.jpg" width="80" align="left" style="margin-right: 5px;">
        My name is Tobias Duehr. I'm a freelance web developer. 
      </p>
I'm on
<a target="_blank" href="https://github.com/saibotd">GitHub</a>,
<a target="_blank" href="https://bitbucket.org/saibotd">Bitbucket</a>,
<a target="_blank" href="https://plus.google.com/103429109391874119734?rel=author">Google+</a>,
<a target="_blank" href="http://www.linkedin.com/pub/tobias-duehr/75/41/380">LinkedIn</a> and 
<a target="_blank" href="https://www.xing.com/profiles/Tobias_Duehr">XING</a>



<h3>Recent posts</h3>
{% for post in site.posts %}
{% if post.category != 'work' %}
{% if post.url != page.url %}
<p>
  <small>{{ post.date | date_to_string }}</small><br>
  <a href="{{ post.url }}" title="permalink">{{ post.title }}</a>
</p>
{% endif %}
{% endif %}
{% endfor %}

    </div>

    <div class="posts">
{% if page.date %}
<span style="float:right">
  <span>{{ page.date | date_to_string }}</span>
</span>
{% endif %}
      {{ content }}
    </div>
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
  <script src="/js/blog.js"></script>

</body>

</html>
