<!DOCTYPE html>
<html lang="de">

<head>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Tobias Dühr • {{ page.title }}</title>
  <meta name="description" content="{{ page.desc }}">
  <meta name="author" content="Tobias Dühr">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400" media="screen" type="text/css">-->
  <link href='http://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css">
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="icon" type="image/png" href="/favicon.png" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  
  <meta property="fb:admins" content="1144471847" />
  <meta property="og:url" content="http://tobiasduehr.com{% if page.url != '/index.html' %}{{ page.url }}{% endif %}">
  <meta property="og:title" content="Tobias Dühr • {{ page.title }}">
  <meta property="og:description" content="{{ page.desc }}">
  <meta property="og:image" content="http://tobiasduehr.com/images/tobias-duehr.jpg">

</head>

<body class="{{ page.bodyclass }}">

  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-6377320-9', 'tobiasduehr.com');
  ga('send', 'pageview');

  </script>

  <canvas id="stage" width="500" height="500"></canvas>
  <div class="topbar">
    <div class="nav">
      <nav>
        <a href="/">8 Eigenheiten</a>
        <a href="/profil.html">16 Features</a>
        <a href="/referenzen.html">Referenzen</a>
        <a href="/kontakt.html">Kontakt</a>
      </nav>
    </div>
    <a id="toggle-sidebar" class="visible" href="#sidebar"></a>
    <a id="language" href="/index-en.html">English speaking? Click Here.</a>
  </div>
  <div class="content">
    <div class="sidebar">
      <div class="sidebar-inner">

        {{ content }}

      </div>
    </div>
    <div class="wrapper">
      <div class="centered" itemscope itemtype="http://schema.org/Person">
        <h1 itemprop="name">
          Tobias
          Dühr
        </h1>
        <p style="margin-top:-22px">
          Nerd for Hire
        </p>
        <p>kompatibel mit anderen Pixelschubsern, Wortakrobaten<br>und dieser und jener Art Direktoren lasse ich mich in<br>Digital-Projekte jeder Couleur einbauen. Anfragen unter</p>
        <!--  Hi, ich bin ein <span itemprop="jobTitle">Web-Developer</span> aus 
          <span itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
            <span itemprop="addressLocality">Aschaffenburg</span>
          </span><br>
          und ich unterstütze Sie als <span itemscope itemtype="http://schema.org/Organization">
            <span itemprop="name">Freelancer</span>
          </span> gern bei der<br>
          Konzeption und Umsetzung Ihres Digitalprojekts.-->
        <p>
          Telefon: <a href="tel:004960213713476" itemprop="telephone">06021.3713476</a>
          <br>
          E-Mail: <a href="mailto:nerd@tobiasduehr.com?subject=Hallo" itemprop="email">nerd@tobiasduehr.com</a>
        </p>
      </div>
    </div>
    <a href="https://plus.google.com/103429109391874119734?rel=author">by Tobias Duehr</a>
    <a id="impressum" href="/impressum.html" title="Welcome to Germany :(">Impressum</a>
  </div>


  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/jquery.min.js"><\/script>')</script>
  <script src="/js/jquery.transit.min.js"></script>
  <script src="/js/jquery.hammer.min.js"></script>
  <script src="/js/three.min.js"></script>
  <script src="/js/index.js"></script>
  <script>
  var language = window.navigator.userLanguage || window.navigator.language;
  if(language.indexOf("de") < 0) $("#language").fadeIn();
  </script>

</body>

</html>
